<section id="content" class="common searchpage">
    <div class="container">
        <div class="row">
            <aside class="refinesearch">
                <div class="filterbox">
                    <h1>Refine Search</h1>
                    <ul class="filterpart">
                        <li>
                            <a href="">Gender</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="ampara"><label for="ampara">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="badulla"><label for="badulla">Badulla</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="colombo"><label for="colombo">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle"><label for="galle">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Gampala"><label for="Gampala">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kalutara"><label for="Kalutara">Kalutara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kandy"><label for="Kandy">Kandy</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Mannar"><label for="Mannar">Mannar</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Matala"><label for="Matala">Matala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Matara"><label for="Matara">Matara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Puttalam"><label for="Puttalam">Puttalam</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Height</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="fampara"><label for="fampara">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="fbadulla"><label for="fbadulla">Badulla</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="fcolombo"><label for="fcolombo">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="fgalle"><label for="fgalle">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Gampala"><label for="Gampala">Gampala</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Age</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="1galle"><label for="1galle">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="1Gampala"><label for="1Gampala">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="1Kalutara"><label for="1Kalutara">Kalutara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="1Kandy"><label for="1Kandy">Kandy</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Country</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="colombo7"><label for="colombo7">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle7"><label for="galle7">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Gampala7"><label for="Gampala7">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Matara7"><label for="Matara7">Matara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Puttalam7"><label for="Puttalam7">Puttalam</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">City</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="ampara1"><label for="ampara1">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="badulla1"><label for="badulla1">Badulla</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="colombo1"><label for="colombo1">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle1"><label for="galle1">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="gampala1"><label for="gampala1">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kalutara1"><label for="Kalutara1">Kalutara</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Matial Status</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="ampara4"><label for="ampara4">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="badulla4"><label for="badulla4">Badulla</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="colombo4"><label for="colombo4">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle4"><label for="galle4">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Gampala4"><label for="Gampala4">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kalutara4"><label for="Kalutara4">Kalutara</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Religion</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="galle5"><label for="galle5">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Gampala5"><label for="Gampala5">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kalutara5"><label for="Kalutara5">Kalutara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kandy5"><label for="Kandy5">Kandy</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Mannar5"><label for="Mannar5">Mannar</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Matala5"><label for="Matala5">Matala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Matara5"><label for="Matara5">Matara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Puttalam5"><label for="Puttalam5">Puttalam</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Speaks</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="bcolombo"><label for="bcolombo">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="bgalle"><label for="bgalle">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="bGampala"><label for="bGampala">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="bMatara"><label for="bMatara">Matara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="bPuttalam"><label for="bPuttalam">Puttalam</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Education</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="ampara8"><label for="ampara8">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="badulla8"><label for="badulla8">Badulla</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="colombo8"><label for="colombo8">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle8"><label for="galle8">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Gampala8"><label for="Gampala8">Gampala</label>
                                </li>
                            </ul>
                        </li>

                        <!-- <li>
                            <a href="">Annual Income</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="colombo2"><label for="colombo2">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle2"><label for="galle2">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Gampala2"><label for="Gampala2">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kalutara2"><label for="Kalutara2">Kalutara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kandy2"><label for="Kandy2">Kandy</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Mannar3"><label for="Mannar3">Mannar</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Matala3"><label for="Matala3">Matala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Matara3"><label for="Matara3">Matara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Puttalam3"><label for="Puttalam3">Puttalam</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Community</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="ampara6"><label for="ampara6">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="badulla6"><label for="badulla6">Badulla</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle6"><label for="galle6">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Gampala6"><label for="Gampala6">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kalutara6"><label for="Kalutara6">Kalutara</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Working With</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="ampara9"><label for="ampara9">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="badulla9"><label for="badulla9">Badulla</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="colombo9"><label for="colombo9">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle9"><label for="galle9">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kalutara9"><label for="Kalutara9">Kalutara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kandy9"><label for="Kandy9">Kandy</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Mannar9"><label for="Mannar9">Mannar</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Matala9"><label for="Matala9">Matala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Matara9"><label for="Matara9">Matara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Puttalam9"><label for="Puttalam9">Puttalam</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Professional Area</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="ampara10"><label for="ampara10">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="badulla10"><label for="badulla10">Badulla</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="colombo10"><label for="colombo10">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle10"><label for="galle10">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Gampala10"><label for="Gampala10">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="Kalutara10"><label for="Kalutara10">Kalutara</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Smoking</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="colombo11"><label for="colombo11">Colombo</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="galle11"><label for="galle11">Galle</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Driking</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="ampara12"><label for="ampara12">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="badulla12"><label for="badulla12">Badulla</label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Community</a>
                            <ul class="accordingbox">
                                <li>
                                    <input type="checkbox" name="" value="" id="aampara"><label for="aampara">Ampara</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="abadulla"><label for="abadulla">Badulla</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="agalle"><label for="agalle">Galle</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="aGampala"><label for="aGampala">Gampala</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="" value="" id="aKalutara"><label for="aKalutara">Kalutara</label>
                                </li>
                            </ul>
                        </li> -->

                    </ul>
                </div>
                <a href="#" class="search-btn">Search</a>
            </aside>
            <div class="rightpart">
                <h4>21 Members that match your Partner Preferences.<a href="">Edit</a></h4>
                <div class="rightfilter">
                    <form>
                        <div class="field">
                            <input type="text" name="" value="" placeholder="By date of Profile created">
                            <button class="search-icon"></button>
                        </div>
                        <div class="field">
                            <input type="text" name="" value="" placeholder="By most recent activity ">
                            <button class="search-icon"></button>
                        </div>
                        <div class="field">
                            <input type="text" name="" value="" placeholder="Online at the moment">
                            <button class="search-icon"></button>
                        </div>
                    </form>
                    <div class="views-icon">
                        <span>View as</span>
                        <a href="" class="list-view"></a>
                        <a href="" class="grid-view active"></a>
                    </div>
                </div>
                <div class="detailsbox">
                    <div class="details">
                        <div class="toppart">
                            <h3>P1187M</h3>
                            <div class="socialbox">
                                <a href="#" class="icon-1"></a>
                                <a href="#" class="icon-2"></a>
                                <a href="#" class="icon-3"></a>
                            </div>
                        </div>
                        <ul class="detailspart">
                            <li>
                                <h3>Self</h3>
                                <p>Lorem ipsum dolor sit amet, tetur adipiscing elit</p>
                            </li>
                            <li>
                                <h3>Family</h3>
                                <p>Awsome Parents & a cute younger sister</p>
                            </li>
                            <li>
                                <h3>Education</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                            <li>
                                <h3>Looking for</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                        </ul>
                        <div class="connect-btn">
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="details">
                        <div class="toppart">
                            <h3>P1187M</h3>
                            <div class="socialbox">
                                <a href="#" class="icon-1"></a>
                                <a href="#" class="icon-2"></a>
                                <a href="#" class="icon-3"></a>
                            </div>
                        </div>
                        <ul class="detailspart">
                            <li>
                                <h3>Self</h3>
                                <p>Lorem ipsum dolor sit amet, tetur adipiscing elit</p>
                            </li>
                            <li>
                                <h3>Family</h3>
                                <p>Awsome Parents & a cute younger sister</p>
                            </li>
                            <li>
                                <h3>Education</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                            <li>
                                <h3>Looking for</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                        </ul>
                        <div class="connect-btn">
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="details">
                        <div class="toppart">
                            <h3>P1187M</h3>
                            <div class="socialbox">
                                <a href="#" class="icon-1"></a>
                                <a href="#" class="icon-2"></a>
                                <a href="#" class="icon-3"></a>
                            </div>
                        </div>
                        <ul class="detailspart">
                            <li>
                                <h3>Self</h3>
                                <p>Lorem ipsum dolor sit amet, tetur adipiscing elit</p>
                            </li>
                            <li>
                                <h3>Family</h3>
                                <p>Awsome Parents & a cute younger sister</p>
                            </li>
                            <li>
                                <h3>Education</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                            <li>
                                <h3>Looking for</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                        </ul>
                        <div class="connect-btn">
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="details">
                        <div class="toppart">
                            <h3>P1187M</h3>
                            <div class="socialbox">
                                <a href="#" class="icon-1"></a>
                                <a href="#" class="icon-2"></a>
                                <a href="#" class="icon-3"></a>
                            </div>
                        </div>
                        <ul class="detailspart">
                            <li>
                                <h3>Self</h3>
                                <p>Lorem ipsum dolor sit amet, tetur adipiscing elit</p>
                            </li>
                            <li>
                                <h3>Family</h3>
                                <p>Awsome Parents & a cute younger sister</p>
                            </li>
                            <li>
                                <h3>Education</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                            <li>
                                <h3>Looking for</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                        </ul>
                        <div class="connect-btn">
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="details">
                        <div class="toppart">
                            <h3>P1187M</h3>
                            <div class="socialbox">
                                <a href="#" class="icon-1"></a>
                                <a href="#" class="icon-2"></a>
                                <a href="#" class="icon-3"></a>
                            </div>
                        </div>
                        <ul class="detailspart">
                            <li>
                                <h3>Self</h3>
                                <p>Lorem ipsum dolor sit amet, tetur adipiscing elit</p>
                            </li>
                            <li>
                                <h3>Family</h3>
                                <p>Awsome Parents & a cute younger sister</p>
                            </li>
                            <li>
                                <h3>Education</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                            <li>
                                <h3>Looking for</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                        </ul>
                        <div class="connect-btn">
                            <a href="#">Connect</a>
                        </div>
                    </div>
                    <div class="details">
                        <div class="toppart">
                            <h3>P1187M</h3>
                            <div class="socialbox">
                                <a href="#" class="icon-1"></a>
                                <a href="#" class="icon-2"></a>
                                <a href="#" class="icon-3"></a>
                            </div>
                        </div>
                        <ul class="detailspart">
                            <li>
                                <h3>Self</h3>
                                <p>Lorem ipsum dolor sit amet, tetur adipiscing elit</p>
                            </li>
                            <li>
                                <h3>Family</h3>
                                <p>Awsome Parents & a cute younger sister</p>
                            </li>
                            <li>
                                <h3>Education</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                            <li>
                                <h3>Looking for</h3>
                                <p>Bechalors Degree in IT & following my Masters.</p>
                            </li>
                        </ul>
                        <div class="connect-btn">
                            <a href="#">Connect</a>
                        </div>
                    </div>
                </div>
                <ul class="pagination">
                    <li><a href="" class="prev">Prev</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="" class="next">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>