<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"org/hibernate/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>

		<property name="hibernate.connection.autoReconnect">true</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://192.168.0.101:3306/PropozalDataBase</property>
		<property name="hibernate.connection.username">PropozalDataBase</property>
		<property name="hibernate.connection.password">PrDaataBAEWe</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.pool_size">1</property>
		<!-- <property name="show_sql">true</property> -->
		<!-- <mapping resource="com/bargadss/Propozal/bean/salary.hbm.xml" /> -->	
		<mapping resource="com/bargadss/Propozal/Admin/bean/adminLogin.hbm.xml" />
		<mapping resource="com/bargadss/Propozal/Admin/bean/registration.hbm.xml" />		
		
		<mapping resource="com/bargadss/Propozal/Admin/bean/country.hbm.xml" />
		<mapping resource="com/bargadss/Propozal/Admin/bean/state.hbm.xml" />
		<mapping resource="com/bargadss/Propozal/Admin/bean/city.hbm.xml" />
		<mapping resource="com/bargadss/Propozal/Admin/bean/years.hbm.xml" />		
		<mapping resource="com/bargadss/Propozal/Admin/bean/qualification.hbm.xml" />
		<mapping resource="com/bargadss/Propozal/Admin/bean/gender.hbm.xml" />
		<mapping resource="com/bargadss/Propozal/Admin/bean/age.hbm.xml" />
		<mapping resource="com/bargadss/Propozal/Admin/bean/religion.hbm.xml" />
		<mapping resource="com/bargadss/Propozal/Admin/bean/imageUpload.hbm.xml" />
		

	</session-factory>
</hibernate-configuration>
