<div class="modal fade">
    <div class="modal-dialog modal-lg modal-box">

        <div class="title">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <!--<h4 class="modal-title">{{title}}</h4>
            <div class="title">
                <h1>Give us brief introduction</h1>
            </div>-->
        </div>
        <div class="modal-body">
            <form name="registrationForm" id="myRegistration" novalidate>
            <div ng-show="myvalue == true">
                <div class="title">
                    <h1>Give us brief introduction</h1>
                </div>
                <div class="field field5 fl">
                    <label>First Name</label>
                    <input class="control" placeholder="First Name" name="firstName" id="firstName" ng-model="firstName" ng-pattern ="/^[a-zA-Z\s]*$/" required>
                    <p ng-show="registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine" class="help-block" style="color: #FF0000"> First Name is Required and Only Alphabets allow.</p>
                </div>

                <div class="field field5 fr">
                    <label>Last name</label>
                    <input class="control" placeholder="Last Name" name="lastName" id="lastName" ng-model="lastName" ng-pattern ="/^[a-zA-Z\s]*$/" required>
                    <p ng-show="registrationForm.lastName.$invalid && !registrationForm.lastName.$pristine" class="help-block" style="color: #FF0000"> Last Name is Required and Only Alphabets allow.</p>
                </div>

                <div class="field field5 fr">
                    <label>Email</label>
                    <input type="email" class="control" placeholder="Email" name="email" id="email" ng-model="email" ng-blur="checkUserAvailable()"  required>
                    <p class="help-block" style="color: #FF0000" ng-show="registrationForm.email.$dirty && registrationForm.email.$error.unique"> Email Id/User Name is not available </p>
                    <span ng-show="registrationForm.email.$error.required && registrationForm.email.$dirty" class="help-block" style="color: #FF0000">Email is Required.</span>
                    <span ng-show="!registrationForm.email.$error.required && registrationForm.email.$error.email && registrationForm.email.$dirty" class="help-block" style="color: #FF0000">Invalid Email</span>
                </div>

                <div class="field field5 fr">
                    <label>Password</label> <!-- ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" -->
                    <input type="password" class="control" placeholder="Password" name="password" id="password" ng-model="password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
                    <span ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty" style="color: #FF0000">Password is Required</span>
                    <span ng-show="!registrationForm.password.$error.required && (registrationForm.password.$error.minlength || registrationForm.password.$error.maxlength) && registrationForm.password.$dirty" style="color: #FF0000">
                        Passwords must be between 6 and 20 characters.</span>
                    <span ng-show="!registrationForm.password.$error.required && !registrationForm.password.$error.minlength && !registrationForm.password.$error.maxlength && registrationForm.password.$error.pattern && registrationForm.password.$dirty" style="color: #FF0000">
                        Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                </div>

                <div class="field field5 fr">
                <label for="password_c">Confirm Password</label>
                <input type="password" class="control" id="password_c" name="password_c" ng-model="password_c" valid-password-c required  />
                    <span ng-show="registrationForm.password_c.$error.required && registrationForm.password_c.$dirty" style="color: #FF0000">Please confirm your password.</span>
                    <span ng-show="!registrationForm.password_c.$error.required && registrationForm.password_c.$error.noMatch && registrationForm.password.$dirty" style="color: #FF0000">Passwords do not match.</span>
                </div>

                <button type="button" ng-click="next()" class="bttn" >Next</button>  <!--ng-disabled="registrationForm.$invalid" -->
            </div>

                <div ng-show="myvalue2nd == true">
                    <div class="title">
                        <h1>Basic Information</h1>
                    </div>

                    <div class="field field5 fl">
                        <label>Country</label>
                        <!--<select class="control" ng-model="country" required>-->
                        <!--<option value="bangladesh">Bangladesh</option>-->
                        <!--<option value="india">India</option>-->
                            <!--<option value="srilanka">Srilanka</option>-->
                            <!--<option value="pakistan">Pakistan</option>-->
                            <!--</select>-->
                        <select ng-model="country"
                                ng-options="obj.id as obj.country for obj in countries"
                                ng-change="getCountryStates()"
                                class="form-control"
                                ng-required="true"
                                id="country">
                            <option value="">-- Choose Country --</option>
                        </select>
                        <p ng-show="registrationForm.country.$invalid && !registrationForm.country.$pristine" class="help-block" style="color: #FF0000"> Country is Required.</p>
                    </div>

                    <div class="field field5 fl">
                        <label>State</label>
                        <!--<select class="control" ng-model="state" required>-->
                            <!--<option value="bangladesh">Bangladesh</option>-->
                            <!--<option value="india">India</option>-->
                            <!--<option value="srilanka">Srilanka</option>-->
                            <!--<option value="pakistan">Pakistan</option>-->
                        <!--</select>-->
                        <select ng-model="state"
                                ng-options="x.Id as x.state for x in states"
                                ng-change = "getStateCities()"
                                class="form-control"
                                ng-required="true"
                                id="state">
                            <option value="">-- Choose State --</option>
                        </select>
                        <p ng-show="registrationForm.state.$invalid && !registrationForm.state.$pristine" class="help-block" style="color: #FF0000"> State is Required.</p>
                    </div>

                    <div class="field field5 fr">
                        <label>City</label>
                        <!--<select class="control" ng-model="city" required>-->
                            <!--<option value="city1">City 1</option>-->
                            <!--<option value="cit2">City 2</option>-->
                            <!--<option value="cit3">City 3</option>-->
                            <!--<option value="cit4">City 4</option>-->
                        <!--</select>-->
                        <select  ng-model="city"
                                 ng-options="x.Id as x.city for x in cities"
                                 class="form-control"
                                 ng-required="true"
                                 id="city">
                            <option value="">-- Choose City --</option>
                        </select>

                        <p ng-show="registrationForm.city.$invalid && !registrationForm.city.$pristine" class="help-block" style="color: #FF0000"> City is Required.</p>
                    </div>

                    <div class="field">
                        <label>Gender</label>
                        <div class="radiobox" >
                            <label><input type="radio" ng-model="gender" name="gender" value="male" required/>Male</label>
                            <label><input type="radio" ng-model="gender" name="gender" value="female" required/>Female</label>
                        </div>
                        <p ng-show="registrationForm.gender.$invalid && !registrationForm.gender.$pristine" class="help-block" style="color: #FF0000"> Gender is Required.</p>
                    </div>
                    <div class="field">
                        <label>Height</label>
                        <select class="scontrol2"  ng-model="height" required>
                            <option value="60">60cm</option>
                            <option value="61">61cm</option>
                            <option value="62">62cm</option>
                        </select>
                        <p ng-show="registrationForm.height.$invalid && !registrationForm.height.$pristine" class="help-block" style="color: #FF0000"> height is Required.</p>
                    </div>
                    <div class="field">
                        <label>Date of Birth</label>
                        <select class="scontrol2 year"  ng-model="dobYear" required>
                            <option value="1990">1990</option>
                            <option value="1991">1991</option>
                            <option value="1992">1992</option>
                        </select>
                        <select class="scontrol2 commonw" ng-model="dobMonth" required>
                            <option value="january">January</option>
                            <option value="febuary">Febuary</option>
                            <option value="march">March</option>
                        </select>
                        <select class="scontrol2 commonw" ng-model="dobDate" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <p ng-show="registrationForm.dobDate.$invalid && !registrationForm.dobDate.$pristine" class="help-block" style="color: #FF0000"> Date is Required.</p>
                    </div>
                    <div class="field">
                        <label>Relegion</label>
                        <select class="scontrol2" ng-model="relegion" required>
                            <option value="hindu">Hindu</option>
                            <option value="muslim">Muslim</option>
                            <option value="buddhist">Buddhist</option>
                        </select>
                        <p ng-show="registrationForm.relegion.$invalid && !registrationForm.relegion.$pristine" class="help-block" style="color: #FF0000"> Relegion is Required.</p>
                    </div>
                    <div class="field">
                        <label>Mother Tongue</label>
                        <select class="scontrol2" ng-model="motherTongue" required>
                            <option value="english">English</option>
                            <option value="hindi">Hindi</option>
                            <option value="tamil">Tamil</option>
                            <option value="bengali">Bengali</option>
                        </select>
                        <p ng-show="registrationForm.motherTongue.$invalid && !registrationForm.motherTongue.$pristine" class="help-block" style="color: #FF0000"> MotherTongue is Required.</p>
                    </div>

                    <button type="button" ng-click="next2nd()" class="bttn" >Next</button>
                </div>

                <div ng-show="myvalue3rd == true">
                    <div class="title">
                        <h1>Education and Career</h1>
                    </div>
                    <div class="field">
                        <label>Highest Education </label>
                        <select class="scontrol2" ng-model="higestEdu" required>
                            <option value="mca">MCA</option>
                            <option value="mtech">MTECH</option>
                            <option value="bca">BCA</option>
                            <option value="btech">BTECH</option>
                        </select>
                        <p ng-show="registrationForm.higestEdu.$invalid && !registrationForm.higestEdu.$pristine" class="help-block" style="color: #FF0000"> Education is Required.</p>

                    </div>
                    <div class="field">
                        <label>Career Field</label>
                        <input type="text" class="control" placeholder="Career Field" name="careerField" id="careerField" ng-model="careerField" >
                    </div>

                    <div class="field">
                        <label>Monthly Salary</label>
                        <select class="scontrol2" ng-model="monthlySal" required>
                            <option value="1">0-10000 LKR</option>
                            <option value="2">10001-50000 LKR</option>
                            <option value="3">50001-100000 LKR</option>
                            <option value="4">100001-300000 LKR</option>
                            <option value="5">Above 300001 LKR</option>
                        </select>
                        <p ng-show="registrationForm.monthlySal.$invalid && !registrationForm.monthlySal.$pristine" class="help-block" style="color: #FF0000"> Monthly Salary is Required.</p>
                    </div>

                    <button type="button" ng-click="next3rd()" class="bttn">Next</button>
                </div>

                <div ng-show="myvalue4th == true">
                    <div class="title sm-size">
                        <h1>Let them what kind of person you are?</h1>
                    </div>
                    <div class="field">
                        <label>Myself</label>
                        <textarea class="control phold" ng-model="personType" rows="4" placeholder="I am 27 years old. I am a simple, honest, family oriented person like travelling, reading, movies and music. I like to enjoy each moment in my life. I studied in a famous girl's school in Colmbo ."></textarea>
                    </div>
                    <button type="button" ng-click="next4th()" class="bttn">Next</button>
                 </div>

                <div ng-show="myvalue5th == true">
                    <div class="title sm-size">
                        <h1>Let them know about family background</h1>
                    </div>
                    <div class="field">
                        <label>My Family</label>
                        <textarea class="control phold" ng-model="familyBackground" rows="4" placeholder="My father is retired now and my mother is a clerk. I have only one elder sister and she is married"></textarea>
                    </div>
                    <button type="button" ng-click="next5th()" class="bttn">Next</button>
                </div>

                <div ng-show="myvalue6th == true">
                    <div class="title sm-size">
                        <h1>Let them know about your Details Education and Career</h1>
                    </div>
                    <div class="field">
                        <label>Education & Career</label>
                        <textarea class="control phold" ng-model="eduAndCareer" rows="4" placeholder="I have completed my degree & Post graduate degree in IT field."></textarea>
                    </div>
                    <button type="button" ng-click="next6th()" class="bttn">Next</button>
                </div>

                <div ng-show="myvalue7th == true">
                    <div class="title sm-size">
                        <h1>What kind of person are you looking for?</h1>
                    </div>
                    <div class="field">
                        <label>I am looking for</label>
                        <textarea class="control phold" ng-model="lookingFor" rows="4" placeholder="Decent , Down to earth , Genuine person"></textarea>
                    </div>
                    <button type="button" ng-click="next7th()" class="bttn">Next</button>
                </div>

                <div ng-show="myvalue8th == true">
                    <div class="title sm-size">
                        <h1>Verify Yourself</h1>
                    </div>
                    <div class="field">
                        <label>Your Facebook page link<span class="note">(Our members will check your name & photo to be each profile to verify that you are genuine )</span></label>
                        <input type="text" class="control" ng-model="facebookUrl"/>
                    </div>
                    <div class="field">
                        <label>Your Linkedin page link<span class="note">(We will never share these links without your approval)</span></label>
                        <input type="text" class="control" ng-model="linkdinUrl"/>
                    </div>
                    <div class="field">
                        <label>National Identity Card Number<span class="note">(This will help our team to verify your genuineness)</span></label>
                        <input type="text" class="control" ng-model="nicNumber"/>
                    </div>

                    <div class="field">
                        <label>Mobile Number<span class="note">(Only for verification purposes not be shared with anyone)</span></label>
                        <input type="text" class="control" ng-model="mobileNumber"/>
                    </div>
                    <button type="button" ng-click="next8th()" class="bttn">Create An Account</button>
                </div>


            </form>

        </div>


        <div class="clear"></div>
    </div>

</div>


