<div class="container">
    <div class="trusted">
        <h4><span>Trusted by Millions</span></h4>
        <ul class="giveyou">
            <li class="icon1">Best Matches</li>
            <li class="icon2">Max Responses</li>
            <li class="icon3">100% Privacy</li>
        </ul>
    </div>
    <div class="footermenu">
        <div class="footerbox">
            <h3>Useful Link</h3>
            <ul>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="terms_condition.html">Terms & Conditions</a></li>
                <li><a href="disclimer.html">Disclaimers</a></li>
                <li><a href="copyright.html">Copyright Policy</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </div>
        <div class="footerbox twitt">
            <h3>Latest Twitt’s</h3>
            <ul>
                <li>@Steve Jones 04 Apr<br/>Vote KLEO on producthunt!</li>
                <li>@Steve Jones 04 Apr<br/>Vote KLEO on producthunt!</li>
                <li>@Steve Jones 04 Apr<br/>Vote KLEO on producthunt!</li>
            </ul>
        </div>
        <div class="footerbox">
            <h3>Propozer.lk</h3>
            <ul>
                <li><a href="#">Privacy Gurantee</a></li>
                <li><a href="#">Match Gurantee</a></li>
                <li><a href="#">Trusted Service</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <p>All rights are reserved. 2016 &copy; propozer.lk</p>
    </div>
</div>