<div class="container">
    <div class="topbar">
        <div class="logo"><h1><a href="index.html"><img src="images/logo.png" alt="" /></a></h1></div>
        <a id="complex"></a>
        <div class="rheader">
            <!--<a href="#" data-modal-id="login">Login</a>-->
            <!--<a ng-click="showLogInUser()" >Login</a>-->
            <a href ng-click="showComplex()">LogIn</a>
            <a href ng-click="showReg()">Register</a>
            {{name}}
        </div>
    </div>
    <div class="searchbox">
        <h2>The Safest Way for a<br/>Serious Relasionship</h2>
        <form class="searchfield">
            <div class="field">
                <label>Gender</label>
                <select class="scontrol">
                    <option>Woman</option>
                    <option>Woman</option>
                    <option>Woman</option>
                    <option>Woman</option>
                </select>
            </div>
            <div class="field">
                <label>City</label>
                <select class="scontrol">
                    <option>Ampara</option>
                    <option>Ampara</option>
                    <option>Ampara</option>
                    <option>Ampara</option>
                </select>
            </div>
            <div class="field">
                <label>Education</label>
                <select class="scontrol">
                    <option>Masters</option>
                    <option>Masters</option>
                    <option>Masters</option>
                    <option>Masters</option>
                </select>
            </div>
            <div class="field2">
                <label>Age</label>
                <select class="scontrol age">
                    <option>20</option>
                    <option>20</option>
                    <option>20</option>
                    <option>20</option>
                </select>
                <label class="to">to</label>
                <select class="scontrol age">
                    <option>25</option>
                    <option>25</option>
                    <option>25</option>
                    <option>25</option>
                </select>
            </div>
            <button type="submit" class="bttn">Search</button>
            <p class="msg">Search and find the best match. Become a member to Propozer.lk.</p>
        </form>
    </div>
</div>