<div class="modal fade">
    <div class="modal-dialog modal-lg modal-box">
       
            <div class="title">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!--<h4 class="modal-title">{{title}}</h4>-->
                <div class="title">
                    <h1>Log In to Propozer Account</h1>
                    <p>Please enter your Email Address & Password</p>
                </div>
            </div>
            <div class="modal-body">
                <form name="loginForm" id="myLogin" novalidate>
                    <div class="field">
                        <label>Your Email Address or User Name</label>
                        <input class="control" placeholder="User Name" name="username" id="username" ng-model="name" required>
                        <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block" style="color: #FF0000"> User Name is Required.</p>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input class="control" placeholder="Password" name="password" id="password" ng-model="age" required>
                        <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block" style="color: #FF0000"> Password is Required.</p>
                    </div>
                    <p class="msg">Your privacy is important to us and we will never rent or sell your information.</p>
                    <button type="button" ng-click="close()" class="bttn" ng-disabled="loginForm.$invalid" data-dismiss="modal">Login</button>
                </form>
                    <div class="field links">
                        <a href="#" class="forgot">Forgot Password ?</a>
                        <p class="new">New to propozer.lk? <a href="#">Create an Account</a></p>
                    </div>
                    <div class="otherlogin">
                        <h3>OR</h3>
                        <a href="#" class="email">Sign up With Email</a>
                        <a href="#" class="fb">Sign up with Facebook</a>
                    </div>

            </div>

            <!--<div class="modal-footer">-->
                <!--<button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>-->
                <!--<button type="button" ng-click="cancel()" class="btn">Cancel</button>-->
            <!--</div>-->
        
        <div class="clear"></div>
    </div>

</div>