<div class="container">
    <div class="topbar">
        <div class="logo"><h1><a href="index.html"><img src="images/logo.png" alt="" /></a></h1></div>
        <div class="rheader">
            <ul class="notification">
                <li><a href="#" class="like"><label>6</label></a></li>
                <li><a href="#" class="message"><label>1</label></a></li>
                <li>
                    <span class="user-pro"><img src="images/user-pic.png" alt="">{{UName}}</span>
                    <ul class="sub-menu">
                        <li><a href="#/myProfile">My Profile</a></li>
                        <!-- <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li> -->
                        <li><a href ng-click="logout()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

<!--     <div class="searchbox">
        <h2>The Safest Way for a<br/>Serious Relasionship</h2>
        <form class="searchfield">
            <div class="field">
                <label>Gender</label>
                <select class="scontrol" ng-model="myForm.gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
            </div>
            <div class="field">
                <label>City</label>
                <select class="scontrol" ng-model="myForm.city">
                    <option value="ampara">Ampara</option>
                    <option value="kolkata">Kolkata</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="colombo">Colombo</option>
                    <option value="candy">Candy</option>
                </select>
            </div>
            <div class="field">
                <label>Education</label>
                <select class="scontrol" ng-model="myForm.edu">
                    <option value="MTECH">MTECH</option>
                    <option value="BTECH">BTECH</option>
                    <option value="MCA">MCA</option>
                    <option value="BCA">BCA</option>
                </select>
            </div>
            <div class="field2">
                <label>Age</label>
                <select class="scontrol age" ng-model="myForm.minAge">
                    <option>20</option>
                    <option>20</option>
                    <option>20</option>
                    <option>20</option>
                </select>
                <label class="to">to</label>
                <select class="scontrol age" ng-model="myForm.maxAge">
                    <option>25</option>
                    <option>25</option>
                    <option>25</option>
                    <option>25</option>
                </select>
            </div>
            <button type="submit" class="bttn">Search</button>
            <a href="#/search/{{myForm.gender}}/{{myForm.city}}/{{myForm.edu}}/{{myForm.minAge}}/{{myForm.maxAge}}" class="bttn">Search</a>
            <p class="msg">Search and find the best match. Become a member to Propozer.lk.</p>
        </form>
    </div> -->
</div>


