<section id="steps">
    <div class="container">
        <h1 class="title">Find your better half in Just 3 Steps</h1>
        <ul class="step">
            <li>
                <div class="cir icon1"></div>
                <h3>Step 1</h3>
                <p>Check Attitude.<br/>(No Photos)</p>
            </li>
            <li>
                <div class="cir icon2"></div>
                <h3>Step 2</h3>
                <p>Check Apperance<br/>Both Should Agree.</p>
            </li>
            <li>
                <div class="cir icon3"></div>
                <h3>Step 3</h3>
                <p>Chat & get to<br/>know more</p>
            </li>
        </ul>
    </div>
</section>

<section id="members">
    <div class="container">
        <h1 class="title">Have a Look at Our Members</h1>
        <div class="slider-part">
            <div id="owl-demo" class="owl-carousel">
                <div class="item">
                    <figure><img src="images/member-photo.png" alt="" /></figure>
                    <article>“I am 27 years old. I am a simple, honest, family oriented person like travelling, reading, movies and music. I like to enjoy each moment in my life.  I studied in a famous girl's school in Colmbo My father is retired now and my mother is a clerk. I have only one elder sister and she is married. I have completed my degree & post graduate degree in IT field."</article>
                </div>
                <div class="item">
                    <figure><img src="images/member-photo.png" alt="" /></figure>
                    <article>“I am 27 years old. I am a simple, honest, family oriented person like travelling, reading, movies and music. I like to enjoy each moment in my life.  I studied in a famous girl's school in Colmbo My father is retired now and my mother is a clerk. I have only one elder sister and she is married. I have completed my degree & post graduate degree in IT field."</article>
                </div>
                <div class="item">
                    <figure><img src="images/member-photo.png" alt="" /></figure>
                    <article>“I am 27 years old. I am a simple, honest, family oriented person like travelling, reading, movies and music. I like to enjoy each moment in my life.  I studied in a famous girl's school in Colmbo My father is retired now and my mother is a clerk. I have only one elder sister and she is married. I have completed my degree & post graduate degree in IT field."</article>
                </div>
                <div class="item">
                    <figure><img src="images/member-photo.png" alt="" /></figure>
                    <article>“I am 27 years old. I am a simple, honest, family oriented person like travelling, reading, movies and music. I like to enjoy each moment in my life.  I studied in a famous girl's school in Colmbo My father is retired now and my mother is a clerk. I have only one elder sister and she is married. I have completed my degree & post graduate degree in IT field."</article>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="steps" class="privacy">
    <div class="container">
        <h1 class="title">Propozer Protects Privacy</h1>
        <ul class="step">
            <li>
                <div class="cir icon1"></div>
                <h3>1</h3>
                <p>Photos will<br/>not Displayed</p>
            </li>
            <li>
                <div class="cir icon2"></div>
                <h3>2</h3>
                <p>Contacts will not<br/>be shared</p>
            </li>
            <li>
                <div class="cir icon3"></div>
                <h3>3</h3>
                <p>Each profile is<br/>Reviewed & Verified</p>
            </li>
        </ul>
    </div>
</section>

<section id="started">
    <div class="container">
        <article><p>Your story is waiting to happen!</p><a href="#">Gets Started</a></article>
    </div>
</section>

<section id="propozer">
    <div class="container">
        <div class="propozer-icon"><img src="images/propozer-icon.png" alt="" /></div>
        <article>Propozer is a unique, innovative and professional matchmaking service provider in Sri Lanka . We offer you the best possible matches of grooms and brides according to your wish through our expanding proprietary network. As a premium matchmaking service provider, our database includes a selected group of reliable candidates who will meet your exact criteria at it best. Propozer will definitely help you to find someone special whom you're compatible with and the one who can build a solid and everlasting relationship with you .</article>
    </div>
</section>